@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.ChatForm {
  display: flex;
  height: 50px;
  opacity: 0.8;

  .formik_field {
    font-family: $michelangelo-font-family;
    width: 100%;
    border-radius: 17px;
    margin: 5px 10px;
    border: none;
    background-color: $michelangelo-light-fine-gray;
    padding: 0 15px;
    display: flex;
    flex-direction: column;

    &:focus {
      outline: none;
    }
  }
  .submit {
    border: none;
    background: none;
    padding: 0px;
    padding-right: 10px;

    .paper_plane {
      height: 35px;
      width: auto;
    }
    &:focus {
      outline: none;
    }
  }
}
